body{
    background: url(../images/dayzcapa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu', Sans-serif!important;
}

#donations{
    margin-bottom: 200px;
}