body{
    background: url(../images/hgcapa.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu', Sans-serif!important;
}

#donations{
    margin-bottom: 200px;
}