*{
    box-sizing: border-box;
}

html, body, #home {
	height: 100%;
	overflow-x: hidden;
}


body{
    background: url(../images/capa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

li{
    padding: 10px;
}

.navbar{
    font-weight: bold;
    height: 1px;
    transform: translateY(55px);
}

#splyCraftLogo{
    border-radius: 15px;
}

#quadrado{
    height: 100%;
    width: 100%;
    background-color: black;
}

#capa{
    text-align: center;
}

.icon-instagram:before {
    content: url(../images/instagram.png);
    width: 30px
}
.icon-headphones:before {
    content: url(../images/discord.png);
  }

#servidores{
    padding-top: 20px;
    padding-bottom: 20px;
}

#carousel-container{
    margin-bottom: 20%;
}

/* Cards */
.card {
    cursor: pointer;
    top: 50%;
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

/* .rck {
    margin-top: 20px;
    padding-bottom: 15px
} */

.card-active{
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

.cards-img{
    width: 150px;
}

.card-border{
    border-radius: 15px;
}

.teste{
    width: 100%;
    height: 100%;
    background-image: url(../images/capa.jpg);
}

/* Colors */

.vermelho{
    background-color: #E63946!important;
    border-color: #E63946!important;
}
.text-vermelho{
        color: #E63946!important;
}

.branco{
    background-color: #F1FAEE!important;
}
.text-branco{
    color: #F1FAEE!important;
}

.azul-claro{
    color: #A8DADC!important;
}
.azul{
    color: #457B9D!important;
}
.azul-escuro{
    color: #1D3557!important;
    background-color: #1D3557!important;
}