*{
    box-sizing: border-box;
}

html, body, #home, #home1 {
	height: 100%;
	overflow-x: hidden;
}


body{
    background: url(../images/capa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

li{
    padding: 10px;
}

h3{
    font-size: 23px!important;
    font-weight: bold!important;
}
a{
    color: #F1FAEE!important;
}

.site-section{
    padding-top: 3.5em;
    background-color: white;
}

/* Navbar */
.navbar{
    font-weight: bold;
    height: 1px;
    transform: translateY(55px);
    z-index: 2000;
}



@media (max-width: 990px) {

    .navbar-nav{
    display: block!important;
    position: absolute;
    width: 115px;
    background-color: #FFF;
    border-radius: 15px;
}
    .navbar-collapse{
        /* background-color: #e9ecef!important; */
        color: black!important;
    }
    .ml-auto{
        display: none;
    }
    a.nav-link{
        color: #212529!important;
        font-weight: 400;
    }
    #home1{
        height: auto;
        padding-top: 230px;
        padding-bottom: 70px;
    }
}

.dropdown-item{
    color: black!important;
}

#splyCraftLogo{
    border-radius: 15px;
}


#capa{
    text-align: center;
}

.icon-instagram:before {
    content: url(../images/instagram.png);
    width: 30px
}
.icon-headphones:before {
    content: url(../images/discord.png);
  }

#servidores{
    padding-top: 20px;
    padding-bottom: 20px;
}

#carousel-container{
    margin-bottom: 20%;
}

/* Cards */

.card{
    padding: 4px;
    border-radius: 4px!important;
    border: 1px solid #eeeeee!important;
}

.card-img-top{
    border-radius: 0!important;
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.card-active{
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

.cards-img{
    width: 150px;
}

.card-border{
    border-radius: 15px;
}

/* Cards da Loja */

.maincontainer{
    height: 450px;
}

.card-loja{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px!important;

    transform-style: preserve-3d;
    transition: transform .5s;
}

/* .card-loja:hover{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .5s;
} */


.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.45);
}

.card-front{
    
}

.card-back{
    transform: rotateY(180deg);
}

.card-img{
    height: 100%;
}

.front-card-display{
    position: relative;
    display: block;
    width: 100%;
}

.front-card-display:after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.front-card-text{
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 10px;
    display: block;
}

.flip{
    transform: rotateY(180deg);
} 


/* Colors */

.vermelho{
    background-color: #E63946!important;
    border-color: #E63946!important;
}
.text-vermelho{
        color: #E63946!important;
}

.branco{
    background-color: #F1FAEE!important;
}
.text-branco{
    color: #F1FAEE!important;
}

.azul-claro{
    color: #A8DADC!important;
}

.text-azul{
    color: #457B9D!important;
}

.azul-escuro{
    background-color: #1D3557!important;
}
.text-azul-escuro{
    color: #1D3557!important;
}

.text-cinza{
    color: #555555!important;
}

.text-iron{
    color: #a19d94;
}

.text-iron-bg{
    background-color: #a19d94!important;
}

.text-gold{
    color: #FFAA00;
}

.text-gold-bg{
    background-color: #FFAA00!important;
}
  
.text-diamond{
    color: #55FFFF;
}

.text-diamond-bg{
    background-color: #55FFFF!important;
}

.text-lendario{
    color: red;
}

.text-lendario-bg{
    background-color: red!important;
}

.text-white{
    font-weight: 100;
}

.card-back-button{
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.return-icon{
    position: absolute;
    bottom: 0;
    left: 2%;
}

.icon-info-circle{
    position: absolute;
    content: url(../images/info.svg);
    left: 8%;
    width: 40px;
    bottom: 15%;
}

.icon-return{
    content: url(../images/returnicon.svg);
    
    width: 40px;
    
}
