* {
  box-sizing: border-box;
}

html,
body,
#home,
#info-pvp{
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: url(../images/capa.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu', Sans-serif!important;
}

li {
  padding: 10px;
}

h3 {
  font-size: 23px !important;
  font-weight: bold !important;
}
a {
  color: #f1faee !important;
}
a:hover {
  color: #e63946 !important;
}

footer {
  font-weight: 400;
}

table{
  font-size: 18px;
  font-weight: bolder!important;
}

.card-section{
  margin-top: 50px;
}

.site-section {
  padding-top: 3.5em;
  background-color: white;
}

.staff-section {
  padding-top: 3.5em;
}

/* Navbar */
.navbar {
  font-weight: bold;
  height: 1px;
  transform: translateY(55px);
  z-index: 2000;
}

@media(max-width:1400px){
  .card-back-info{
    right: 33%!important;
  }
}

@media (max-width: 990px) {
  .navbar-nav {
    display: block !important;
    position: absolute;
    width: 115px;
    background-color: #fff;
    border-radius: 15px;
  }
  .navbar-collapse {
    /* background-color: #e9ecef!important; */
    color: black !important;
  }
  .ml-auto {
    display: none;
  }
  a.nav-link {
    color: #212529 !important;
    font-weight: 400;
  }
  #info-pvp {
    height: auto;
    padding-top: 230px;
    padding-bottom: 70px;
  }
  .card-back-info{
    right: 32%!important;
  }
  
}

@media (max-width: 660px) {
  .copyButton {
    width: 90vw !important;
  }

  .carousel-control-next {
    transform: translateX(-20px) !important;
  }

  .carousel-control-prev {
    transform: translateX(20px) !important;
  }

  .indexCard {
    margin-top: 0.5rem !important;
    box-shadow: 0px 0px 0px !important;
  }
  .card-back-info{
    right: 21%!important;
  }
}

@media(max-width: 450px){
  .card-back-info{
    right: 29%!important;
  }
}

.dropdown-item {
  color: black !important;
}

#splyCraftLogo {
  border-radius: 5px;
}

#capa {
  text-align: center;
}

.icon-instagram:before {
  content: url(../images/instagram.png);
  width: 30px;
}

.icon-headphones:before {
  content: url(../images/discord.png);
}

.icon-youtube {
  content: url(../images/icon-youtube.png);
  width: 23px;
  padding-bottom: 3px;
}

#servidores {
  padding-top: 20px;
  padding-bottom: 20px;
}

#carousel-container {
  margin-bottom: 20%;
}

.control-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.383) !important;
}

.control-circle:hover {
  background: #e63946 !important;
  transition: 300ms;
}

.carousel-control-next,
.carousel-control-prev {
  width: 0 !important;
  opacity: 1 !important;
}

.carousel-control-next {
  transform: translateX(30px);
}

.carousel-control-prev {
  transform: translateX(-30px);
}

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top: 7px;
  font-size: 10px;
}

/* Cards */

.card {
  padding: 2px;
  border-radius: 4px !important;
  border: 1px solid #eeeeee !important;
}

.card-img-top {
  border-radius: 0 !important;
}

.hd {
  font-size: 25px;
  font-weight: 550;
}

.card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.img {
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.card-title {
  font-weight: 600;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.ft {
  margin-top: 25px;
}

.chk {
  margin-bottom: 5px;
}

.card-active {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.cards-img {
  width: 150px;
}

.card-border {
  border-radius: 15px;
}

/* Cards da Loja */

.maincontainer {
  height: 450px;
}

.card-loja {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px !important;

  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.card-back {
  transform: rotateY(180deg);
}

.card-img {
  height: 100%;
}

.front-card-display {
  position: relative;
  display: block;
  width: 100%;
}

.front-card-display:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(18%, transparent),
    color-stop(99%, rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.front-card-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 10px;
  display: block;
}

.card-muted-text {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.flip {
  transform: rotateY(180deg);
}

.card-back-div {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 6rem;
  height: 2.5rem;
}

.card-back-btn{
  width: 100%;
  height: 100%;
  font-weight: bold!important;
}

.card-back-btn:hover{
  opacity: 0.8!important;
}

.card-back-info{
  position: absolute;
  bottom:1%;
  right: 25%;
  width: 4rem;
  height: 2.5rem;
}

.return-icon {
  position: absolute;
  bottom: 0;
  left: 2%;
}

.icon-info-circle {
  position: absolute;
  content: url(../images/info.svg);
  left: 8%;
  width: 40px;
  bottom: 15%;
  animation: changeColor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.icon-return {
  content: url(../images/returnicon.svg);

  width: 40px;
}

/* .copyIp{
    padding-left: 5rem!important;
    padding-right: 5rem!important;
} */

.copyButton {
  width: 300px;
  padding: 0;
  margin: 0;
}

@keyframes changeColor {
  0% {
    width: 45px;
  }
  25% {
    width: 46px;
  }
  50% {
    width: 47px;
  }
  100% {
    width: 48px;
  }
}

.img-pagamento {
  max-width: 100%;
}

.payment-methods:hover {
  background-color: #eeefff;
  border-radius: 8px;
}

.table-content{
  width: 100%;
}

/* Colors */

.vermelho {
  background-color: #e63946 !important;
  border-color: #e63946 !important;
}
.text-vermelho {
  color: #e63946 !important;
}

.branco {
  background-color: #f1faee !important;
}
.text-branco {
  color: #f1faee !important;
}

.azul-claro {
  color: #a8dadc !important;
}

.text-azul {
  color: #457b9d !important;
}

.azul-escuro {
  background-color: #1d3557 !important;
}
.text-azul-escuro {
  color: #1d3557 !important;
}

.text-cinza {
  color: #555555 !important;
}

.text-iron {
  color: #a19d94;
}

.text-iron-bg {
  background-color: #a19d94 !important;
}

.text-gold {
  color: #ffaa00;
}

.text-gold-bg {
  background-color: #ffaa00 !important;
}

.text-diamond {
  color: #55ffff;
}

.text-diamond-bg {
  background-color: #55ffff !important;
}

.text-lendario {
  color: red;
}

.text-lendario-bg {
  background-color: red !important;
}

.text-white {
  font-weight: 100;
}

.text-black {
  color: black !important;
}

.text-green{
  color: #22bb33!important
}

.text-reddanger{
  color: #FF0000!important
}
